.about-us-welcome-section {
  padding-block: 2rem;

  background-color: var(--clr-accent);
}
.welcome-section-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;

  max-width: var(--cnts-mx-width);
  margin: 0 auto;

  padding-inline: 1rem;
}
.welcome-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.welcome-introductory-title {
  text-transform: capitalize;
  margin-bottom: 0;
}
.welcome-section-text-title {
  display: inline;
  
  padding-bottom: 1rem;
  padding-top: 0.25em;

  position: relative;
}
/* line under the title */
.welcome-section-text-title::after {
  content: "";
  width: 5%;
  height: 2px;

  background-color: var(--clr-primary-900);

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 2s ease-in-out;
}
/* animate line when in view */
.welcome-section-text.animate-in .welcome-section-text-title::after {
  width: 60%;
}

.welcome-main-text-paragraph {
  padding-inline: 1.25rem;
  padding-block: 1rem;
}
.welcome-section-img {
  margin-inline: clamp(1rem, 10vw, 12rem);
}

@media (min-width: 994px) {
  .welcome-section-contents {
    flex-direction: row;
  }
  .welcome-section-img {
    margin-inline: 1rem;
  }
}
