body {
  background-color: var(--clr-primary-200);
}
.home-page-header {
  min-height: 720px;

  display: grid;
  place-items: center;

  position: relative;

  overflow: hidden;
}
.header-parallax-bg {
  height: 100%;
  width: 105%;

  background: url("../../../assets/header_imgs/header_image.jpg") no-repeat;
  background-position: 80%;

  position: absolute;
  z-index: -100;

  filter: blur(2px);
  margin: -8vh -10px -10px -10px;
}
.header-contents {
  text-align: center;
  margin: auto;

  padding: 1rem 2rem;
}
.header-widgets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

@media (min-width: 375px) {
  .header-widgets-container {
    flex-direction: row;
  }
}
@media (min-width: 690px) {
  .home-page-header {
    min-height: 720px;
  }
  .header-parallax-bg {
    filter: blur(0);
    background-position: center;
  }
}
@media (min-width: 1800px) {
  .header-parallax-bg {
    background-size: cover;
  }
}

@media (max-height: 730px) {
  .home-page-header {
    /* subtract navbar height for smaller devices */
    min-height: calc(100vh - 6.5rem);
  }
}
