.header-about-us {
  min-height: 720px;

  display: grid;
  place-items: center;

  position: relative;
  overflow: hidden;
}

.header-about-us .header-parallax-bg {
  height: 110%;
  background-size: cover;
  background: url("../../../assets/header_imgs/header_about_us.png") no-repeat;
  background-position: 10% 20%;

  will-change: transform;
}
@media (min-width: 1500px) {
  .header-about-us .header-parallax-bg {
    background-size: cover;
    background-position-y: 40%;
  }
}
.header-contents-about-us {
  max-width: var(--cnts-mx-width);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding-inline: 1.75rem;
  margin: 0 auto;
}
.about-us-header-paragraph {
  margin-bottom: 2rem;
}
@media (min-width: 560px) {
  .header-about-us {
    place-items: center start;
  }
  .header-contents-about-us {
    align-items: flex-start;
    text-align: start;
  }
}
@media (min-width: 1080px) {
  .header-contents-about-us {
    padding-inline: 3rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .header-parallax-bg {
    background-attachment: scroll !important;
  }
}

@media (max-height: 730px) {
  .header-about-us {
    /* subtract navbar height for smaller devices */
    min-height: calc(100vh - 60px);
  }
  .header-contents-about-us {
    margin-bottom: var(--spacing-lg);
  }
}
