.pp-contents {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
.pp-info-container {
  padding: var(--spacing-md) var(--spacing-sm);
  margin: var(--spacing-md);

  border: 1px solid var(--clr-neutral-200);
}
.pp-heading {
  /* use clamp later */
  font-size: var(--fs-450);
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  font-weight: var(--fw-bold);

  margin-bottom: var(--spacing-sm);
}

@media screen and (min-width: 554px) {
  .pp-contents {
    align-items: center;
    max-width: 535px;
  }
}
@media screen and (min-width: 777px) {
  .pp-contents {
    flex-direction: row;
    max-width: var(--cnts-mx-width);
    align-items: start;
  }
}

@media screen and (min-width: 999px) {
  .pp-contents {
    flex-direction: row;
    align-items: start;
  }
  .pp-details {
    display: flex;
    flex-direction: column-reverse;
  }
  .pp-info-container {
    border: none;
  }
}
