.pp-image-gallery {
  padding-left: var(--spacing-md);
  padding-top: var(--spacing-md);
}
.main-image img {
  aspect-ratio: 1;
  max-width: 500px;
  width: 100%;
}
.gallery-thumbs {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-sm);
  gap: var(--spacing-md);
}
.gallery-thumb {
  background-color: transparent;
  border: none;
  aspect-ratio: 1;
  cursor: pointer;

  transition: all var(--std-transition);
}
.gallery-thumb img {
  width: 80px;
  height: 80px;
  opacity: 0.7;
  transition: opacity var(--std-transition);
}
.gallery-thumb:hover img,
.gallery-thumb:focus img {
  opacity: 1;
}

.gallery-thumb--active {
  border: 2px solid var(--clr-primary-900);
  opacity: 1;
}

.pp-image-gallery {
  display: none;
}

@media screen and (min-width: 554px) {
  .pp-image-gallery {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 0;
  }
  .gallery-thumbs {
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
    left: var(--spacing-md);
    top: var(--spacing-md);
  }
  .gallery-thumb img {
    width: 100px;
    height: 100px;
  }
  .imgs-swiper-wrapper {
    display: none;
  }
}

@media screen and (min-width: 777px) {
  .pp-image-gallery {
    padding-left: var(--spacing-md);
    flex-direction: column;
    align-items: start;
  }
  .gallery-thumbs {
    position: static;
    top: 0;
    left: 0;
    flex-direction: row;
  }
}

@media screen and (min-width: 999px) {
  .pp-image-gallery {
    padding-top: var(--spacing-md);
    align-items: center;
  }
}
