body {
    background-color: white;
}
.str-products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);

    padding-inline: 1rem;
}

@media screen and (min-width: 777px) {
    .str-products-grid {
    grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (min-width: 1170px) {
    .str-products-grid {
        grid-template-columns: repeat(4, 1fr);
}
}