body {
    background-color: white;
}
.str-products-grid {
    display: grid;
    place-self: center;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);

    margin-top: calc(var(--spacing-md) + 2rem);

    max-width: var(--cnts-mx-width);
}

@media screen and (min-width: 777px) {
    .str-products-grid {
    grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (min-width: 1170px) {
    .str-products-grid {
        grid-template-columns: repeat(4, 1fr);
}
}