.pagination {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);

    justify-content: center;
    padding-block: var(--spacing-lg);
}
.pagination-btn {
    transition: var(--std-transition);
    background-color: transparent;
    color: var(--clr-primary-900);
}
.pagination--active {
    background-color: var(--clr-primary-900);
    color: var(--clr-neutral-100);
}

.pagination-btn,
.pagination-btn-prev
.pagination-btn-next {
    height: 100%;
    width: 30px;
    padding: 0 !important;
    font-size: var(--fs-300) 
}

@media screen and (min-width: 777px) {
    .pagination-btn,
    .pagination-btn-prev
    .pagination-btn-next {
        width: 40px;
    }
}