.coming-soon {
  position: relative;
  height: 60vh;
  min-height: 400px;

  overflow-y: hidden;

  display: grid;
  place-items: center;
}
.coming-soon-bg-video {
  pointer-events: none !important;
  position: absolute;

  z-index: -10000;

  height: 100%;
  width: 100%;
  width: 1;
  min-height: 350px;
  object-fit: cover;

  filter: grayscale(0.5);
}
.coming-soon-contents {
  padding-inline: 1rem;
}
.coming-soon-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.coming-soon-paragraph {
  font-family: var(--ff-secondary);
  font-size: clamp(var(--fs-300), 2.2vw, var(--fs-500));
}
@media (min-width: 777px) {
  .coming-soon {
    height: 70vh;
  }
  .coming-soon-bg-video {
    top: 0;
  }
}
@media (min-width: 994px) {
  .coming-soon {
    height: 80vh;
  }
}
@media (min-width: 1200px) {
  .coming-soon {
    height: 100vh;
  }
}
.progress-bar {
  margin-top: var(--spacing-md);
  width: 100%;
  height: 1rem;

  -webkit-appearance: none;
  appearance: none;

  border: none;

  accent-color: var(--clr-accent);
}
@media screen and (min-width: 777px) {
  .progress-bar {
    height: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .progress-bar {
    height: 2rem;
  }
}

.progress-bar::-webkit-progress-bar {
  background-color: hsl(0, 0%, 20%);
  border-radius: 4rem;
  overflow: hidden;
}

.progress-bar::-webkit-progress-value {
  background-color: var(--clr-accent);
}

.progress-bar::-moz-progress-bar {
  background-color: var(--clr-accent);
}

.coming-soon-countdown {
  font-family: var(--ff-primary);
  font-size: var(--fs-900);
  letter-spacing: 0.125rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;

  margin-top: 2rem;
}
.coming-soon-countdown span {
  text-align: center;
  position: relative;
}
.coming-soon-countdown span::before {
  content: "";
  width: 100%;
  height: 100%;

  box-shadow: 5px 5px 10px hsl(0 0 0 / 0.5);

  position: absolute;
  top: 0;
  left: 0;
}
