.about-us-welcome-section {
  padding-block: 2rem;

  background-color: var(--clr-accent);
}
.welcome-section-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;

  max-width: 1860px;
  margin: 0 auto;

  padding-inline: 1rem;
}
.welcome-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.welcome-introductory-title {
  font-family: var(--ff-secondary);
  font-size: clamp(var(--fs-450), 4vw, var(--fs-500));
  text-transform: capitalize;

  margin-bottom: 1rem;
  margin-inline: auto;
}
.welcome-section-text h1 {
  display: inline;
  font-size: clamp(var(--fs-600), 6vw, var(--fs-900));

  padding-bottom: 1rem;
  padding-top: 0.25em;

  border-bottom: 2px solid var(--clr-primary-900);
}
.welcome-main-text-paragraph {
  padding-inline: 1.25rem;
  padding-block: 2rem;

  font-family: var(--ff-secondary);
  font-size: clamp(var(--fs-300), 2.5vw, var(--fs-450));
}
.welcome-section-img {
  margin-inline: clamp(1rem, 10vw, 12rem);
}

@media (min-width: 777px) {
  .welcome-introductory-title {
    font-size: var(--fs-500);
  }
}
@media (min-width: 994px) {
  .welcome-section-contents {
    flex-direction: row;
  }
  .welcome-section-img {
    margin-inline: 1rem;
  }
}
