.cart-contents {
  padding: var(--spacing-md);

  margin: auto;
  display: inline;

  margin: auto;
}

.items-summary-container {
  padding-inline: var(--spacing-md);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  justify-content: start;
}

@media screen and (min-width: 777px) {
  .items-summary-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    max-width: var(--cnts-mx-width);
    margin: auto;
  }
}
