.empty-cart-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-secondary);
  padding: var(--spacing-md);
  height: 80vh;
}

.empty-cart-message .cart-icon {
  width: 50px;
  height: 50px;
  margin-bottom: var(--spacing-md);
}

@media (max-height: 730px) and (max-width: 777px) {
  .empty-cart-message {
    /* subtract navbar height for smaller devices */
    height: calc(90vh - 100px);
  }
}
