.hud-timer {
  cursor: auto;
  position: relative;
  overflow: hidden;
}
.hud-timer span {
  height: 21px;
  margin-right: 2px;
}
.hud-timer .st0 {
  fill: var(--svg-clr-bg) !important;
  transition: all var(--std-transition);
}

.hud-timer.started .hourglass-icon {
  animation: flip 2s infinite ease-in-out;
}

/* snow flakes */
.snow-flakes-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.3;
}
.snow-flakes-overlay span {
  position: absolute;
  transition: all 300ms ease;
}
.snow-flakes-overlay span:nth-child(1) {
  top: -20px;
}
.snow-flakes-overlay span:nth-child(2) {
  top: 40px;
  left: 20px;
}
.snow-flakes-overlay span:nth-child(3) {
  top: 40px;
  left: 40px;
}
.snow-flakes-overlay span:nth-child(4) {
  left: 60px;
  top: -20px;
}
.snow-flakes-overlay span:nth-child(5) {
  top: 35px;
  left: 80px;
}

.animate-flakes {
  animation: slight-shake 2s infinite alternate ease-in-out;
}
.animate-flakes span:nth-child(1) {
  top: 20px;
}
.animate-flakes span:nth-child(2) {
  top: 0;
}
.animate-flakes span:nth-child(3) {
  top: 25px;
}
.animate-flakes span:nth-child(4) {
  top: 0;
}
.animate-flakes span:nth-child(5) {
  top: 15px;
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slight-shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-1px, 1px);
  }
  50% {
    transform: translate(1px, -1px);
  }
  75% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
