.modal-backdrop {
  position: fixed;
  inset: 0;
  z-index: calc(var(--z-sidebar) + 1);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;

  background-color: rgba(0 0 0 / 0.2);
}

.modal-content {
  margin-inline: var(--spacing-md);

  font-family: var(--ff-secondary);
}
