.map-loading {
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: var(--clr-primary-200);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-navbar);
}
.center-map-btn {
    margin-top: 10px;
    margin-left: 80.125rem;

    padding-block: 0.75rem !important;

    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: var(--z-navbar);
}
.widget-map-section {
    position: relative;
}

