:root {
    --clr-sort: var(--clr-primary-900);
}
.sort-filter-component {
    margin: 0 auto;
    max-width: var(--cnts-mx-width);

    margin-block: 1rem;
}
.sort-filter-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--clr-neutral-300);
    position: relative;
}
.sort-container {
    text-transform: uppercase;
    
    flex: 1;
}
#sortProductBy {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    cursor: pointer;
    text-indent: 9999px;
    border: none;
}

.sort-dropdown-btn {
    z-index: 20;
    pointer-events: none;
    display: block;
    text-align: center;
    padding-block: var(--spacing-md);
    letter-spacing: calc(var(--spacing-sm) / 4);
    font-weight: var(--fw-bold);

    position: relative;
    color: var(--clr-sort);
}
.sort-dropdown-btn::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    height: 30%;
    width: 1px;
    background-color: var(--clr-neutral-300);
}
.sort-dropdown-btn::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 50%;
    transform: translateY(-80%);
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
    border-top: 5px solid var(--clr-sort); 
    margin-left: 5px; 
    vertical-align: middle;
   
}

.filter-container {
    flex: 1;
}
.filter-btn {
    display: block;
    width: 100%;
    border: none;
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    padding-block: var(--spacing-md);
    letter-spacing: calc(var(--spacing-sm) / 4);
    font-weight: var(--fw-bold);

    cursor: pointer;
    color: var(--clr-sort);
}

.filter-btn:hover {
    transform: scale(1);
}
