/* temporary to check scroll */
body {
  height: 300vh;
  background-color: var(--clr-primary-200);
}
header {
  min-height: 720px;

  display: grid;
  place-items: center;

  position: relative;

  overflow: hidden;
}
.header-parallax-bg {
  height: 100%;
  width: 105%;

  background: url("../../assets/header_imgs/header_image.jpg") no-repeat;
  background-position: center;

  position: absolute;
  z-index: -100;

  filter: blur(2px);
  margin: -10px -10px 0px -10px;
}
.header-contents {
  text-align: center;
  margin: auto;

  padding: 1rem 2rem;
}
.header-title {
  font-size: var(--fs-700);
  color: var(--clr-primary-900);

  margin-bottom: 1.75rem;
}
.header-description {
  font-size: var(--fs-300);
  font-family: var(--ff-secondary);

  margin: auto;
  margin-bottom: 1rem;
}
.header-widgets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

@media (min-width: 375px) {
  .header-widgets-container {
    flex-direction: row;
  }
}
@media (min-width: 690px) {
  .header-parallax-bg {
    filter: blur(0);
  }
}
@media (min-width: 777px) {
  .header-title {
    font-size: var(--fs-825);
  }
  .header-description {
    font-size: var(--fs-400);
  }
}
@media (min-width: 994px) {
  .header-title {
    font-size: var(--fs-850);
  }
  .header-description {
    font-size: var(--fs-450);
  }
}
@media (min-width: 1200px) {
  .header-title {
    font-size: var(--fs-900);
  }
  .header-description {
    font-size: var(--fs-400);
  }
}
@media (min-width: 1800px) {
  .header-parallax-bg {
    background-size: cover;
  }
}
