.coupons-modal {
  background-color: var(--clr-neutral-100);
  padding: var(--spacing-md);

  border-radius: 0.25rem;
}
.coupons-modal-header {
  min-width: 250px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  margin-bottom: var(--spacing-md);
}
.coupons-modal-body {
  display: grid;
  gap: var(--spacing-sm);

  overflow: hidden;
}

#couponSelect {
  border-radius: var(--spacing-sm);
  padding-inline: var(--spacing-sm);
  border-radius: 0.25rem;

  font-family: var(--ff-secondary);
  color: var(--primary-900);
}

.hidden {
  opacity: 0;
}
@media screen and (min-width: 777px) {
  .coupons-modal-body {
    grid-template-columns: 1fr auto auto;
  }
}
