.pp-description {
  overflow: hidden;
  transition: all 300ms ease;
  position: relative;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
}
.pp-read-more-btn {
  background-color: transparent;
  border: none;
  font-family: var(--ff-secondary);
  font-size: var(--fs-300);
  color: var(--clr-primary-900);

  opacity: 0.6;
  cursor: pointer;
}

/* handle read more/show less  */
.collapsed .pp-description {
  max-height: 3em;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.expanded .pp-description {
  max-height: 10em;
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

@media screen and (min-width: 999px) {
  /* always show the description on desktop size */
  .pp-description-heading,
  .pp-read-more-btn {
    display: none;
  }
  .collapsed .pp-description {
    max-height: 10em;
    -webkit-line-clamp: unset;
    line-clamp: unset;
  }
}
