.header-about-us .header-parallax-bg {
    background: url("../../assets/header_imgs/header_about_us.png") no-repeat;
    background-position: 10% 20%;
}
.header-contents-about-us {
    max-width: 1560px !important;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding-inline: 1.75rem;
    margin: 0 auto;
}
.header-contents-about-us p {
    margin-bottom: 2rem;
}
@media (min-width: 560px) {
    .header-about-us {
        place-items: center start;
    }
    .header-contents-about-us {
        align-items: flex-start;
        text-align: start;
    }
    .header-contents-about-us p {
        margin-left: 0;
    }

}
@media (min-width: 1080px) {
    .header-contents-about-us {
        padding-inline: 3rem;
    }
}