.our-results-banner {
    background-color: var(--clr-primary-200);
    padding-inline: 1rem;
}
.our-results-banner-content {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    padding-block: 1.75rem;

    text-align: center;

    max-width: var(--bnrs-mx-width);
    margin: 0 auto;
}
.results-widgets-line-row {
    padding: 1.5rem;
    margin: 1rem;
    margin-top: 0;
    border-block: 1px solid var(--clr-primary-900);
}
.results-widgets-container {
    display: flex;
    flex-direction: column;

    gap: 2.5rem;
}
.results-widgets-container h2 {
    font-size: var(--fs-800);
    margin-bottom: 1rem;
}
.results-widgets-container p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-300);
    
    margin: 0 auto;
}
@media (min-width: 777px) {
    .results-widgets-line-row {
        padding-top: 2.25rem;
        padding-inline: 0;
        border-bottom: none;
    }
    .results-widgets-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .results-widgets-container article {
        position: relative;
    }
    .results-widgets-container article::before {
        content: "";
        width: 30px;
        height: 30px;

        position: absolute;
        left: 50%;
        bottom: 125%;
        transform: translateX(-50%);

        border: 1px solid var(--clr-primary-900);
        border-radius: 50%;

        background-color: var(--clr-primary-200);
    }
    .results-widgets-container p {
        font-size: var(--fs-400);
    }
}