.carousel-section[data-type="dark"] {
  background-color: var(--clr-accent);
}
.carousel-section-contents {
  padding-block: 2.25rem;
  text-align: center;
}
.carousel-section-contents .text-container {
  flex-direction: column;
  text-align: center;
  padding-inline: 2rem;
}

.carousel-container {
  display: flex;
  justify-content: center;

  margin-bottom: 1rem;
}

.carousel {
  max-width: 400px;

  margin-top: 2rem !important;
  padding-bottom: 3rem !important;
  padding-left: 30px !important;
}
.carousel .swiper-slide img {
  width: 65px !important;
  height: 65px !important;
}
.carousel .swiper-pagination-bullets {
  bottom: 0px !important;
}
.carousel .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin-right: 0.75rem !important;
}
.carousel .swiper-pagination-bullet-active {
  background-color: var(--clr-primary-900) !important;
}
.carousel .swiper-pagination-bullet:focus-visible {
  outline: 2px solid var(--clr-primary-900);
  outline-offset: 2px;
}

@media (min-width: 340px) {
  .carousel {
    max-width: 380px;
  }
  .carousel .swiper-slide img {
    width: 72px !important;
    height: 72px !important;
  }
}

@media (min-width: 420px) {
  .carousel {
    max-width: 432px;
  }
  .carousel .swiper-slide img {
    width: 100px !important;
    height: 100px !important;
  }
}
@media (min-width: 640px) {
  .carousel {
    max-width: 690px;
  }
  .carousel .swiper-slide img {
    width: 92px !important;
    height: 92px !important;
  }
}
@media (min-width: 800px) {
  .carousel {
    max-width: 796px;
  }
  .carousel .swiper-slide img {
    width: 120px !important;
    height: 120px !important;
  }
}

@media (min-width: 999px) {
  .carousel {
    max-width: var(--bnrs-mx-width);
  }
  .carousel .swiper-slide img {
    width: 135px !important;
    height: 135px !important;
  }
}
