.login-popup {
    height: 100%;
    width: 100%;

    position: fixed;
    z-index: var(--z-dropdown);

    backdrop-filter: blur(10px);

    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: var(--clr-accent);

    background-color: var(--clr-primary-100);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1.5rem 1.875rem;

    font-size: var(--fs-300);
    font-family: var(--ff-secondary);
}
.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--clr-primary-900);
}
.login-popup-title h2 {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
}
.cross-icon {
    padding: 0 !important;

    cursor: pointer;
    transform: scale(1);

    will-change: transform;
    transition: transform 300ms linear;
}

.cross-icon .cross {
    width: 1.75rem;
    height: 1.75rem;
}

.cross-icon:hover {
    transform: scale(1.1);
}
.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.login-popup-inputs input {
    outline: none;
    border: 1px solid var(--clr-accent);

    background-color: var(--clr-primary-100);

    padding: .675rem;
}
/* hide show button */
.password-input-container {
    position: relative;

    display: flex;
    align-items: center;
}
.input-password {
    width: 100%;
}
.show-hide-icon {
    position: absolute;
    right: 4px;
    top: 1px;

    cursor: pointer;
}

/* end */
.login-popup-container button {
    border: none;
    
    padding: .675rem;
}
.login-popup-condition {
    display: flex;
    align-items: start;
    gap: .5rem;

    margin-top: -12px;
}
.login-popup-condition label {
    cursor: pointer;
}
.login-popup-condition input[type="checkbox"] {
    accent-color: var(--clr-primary-900);
    cursor: pointer;
}
.login-popup-condition input {
    margin-top: 5px;
}
.login-popup-condition + p {
    text-align: center;
}
.suggestion-text {
    text-align: center !important;
}
.link-button {
    background: none;
    border: none;
    color: var(--clr-primary-900);
    font-weight: var(--fw-bold);
    cursor: pointer;    
    padding: 0 !important;
    padding-left: calc(var(--spacing-sm) / 2) !important;
    font: inherit;
    text-decoration: underline;
}

.login-popup-container {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


